In [1]:
## PRELIM STEP: refine, organize, and merge data

In [2]:
# Import Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
# Store filepaths for 2014 into variables
jan_2014_csv = Path("Resources/2014-citibike-tripdata/1_January/201401-citibike-tripdata_1.csv")
feb_2014_csv = Path("Resources/2014-citibike-tripdata/2_February/201402-citibike-tripdata_1.csv")
mar_2014_csv = Path("Resources/2014-citibike-tripdata/3_March/201403-citibike-tripdata_1.csv")
apr_2014_csv = Path("Resources/2014-citibike-tripdata/4_April/201404-citibike-tripdata_1.csv")
may_2014_csv = Path("Resources/2014-citibike-tripdata/5_May/201405-citibike-tripdata_1.csv")
jun_2014_csv = Path("Resources/2014-citibike-tripdata/6_June/201406-citibike-tripdata_1.csv")
jul_2014_csv = Path("Resources/2014-citibike-tripdata/7_July/201407-citibike-tripdata_1.csv")
aug_2014_csv = Path("Resources/2014-citibike-tripdata/8_August/201408-citibike-tripdata_1.csv")
sep_2014_csv = Path("Resources/2014-citibike-tripdata/9_September/201409-citibike-tripdata_1.csv") 
oct_2014_csv = Path("Resources/2014-citibike-tripdata/10_October/201410-citibike-tripdata_1.csv")
nov_2014_csv = Path("Resources/2014-citibike-tripdata/11_November/201411-citibike-tripdata_1.csv")
dec_2014_csv = Path("Resources/2014-citibike-tripdata/12_December/201412-citibike-tripdata_1.csv")

# Store filepaths for 2023 into variables
    #note, customer type for 2023 data uses member vs casual instead of subscrfiber vs customer (make this change later in df cleaning)
jan_2023_csv = Path("Resources/2023-citibike-tripdata/1_January/202301-citibike-tripdata_1.csv")
feb_2023_csv = Path("Resources/2023-citibike-tripdata/2_February/202302-citibike-tripdata_1.csv")
mar_2023_csv = Path("Resources/2023-citibike-tripdata/3_March/202303-citibike-tripdata_1.csv")
apr_2023_csv = Path("Resources/2023-citibike-tripdata/4_April/202304-citibike-tripdata_1.csv")
may_2023_csv = Path("Resources/2023-citibike-tripdata/5_May/202305-citibike-tripdata_1.csv")
jun_2023_csv = Path("Resources/2023-citibike-tripdata/6_June/202306-citibike-tripdata_1.csv")
jul_2023_csv = Path("Resources/2023-citibike-tripdata/7_July/202307-citibike-tripdata_1.csv")
aug_2023_csv = Path("Resources/2023-citibike-tripdata/8_August/202308-citibike-tripdata_1.csv")
sep_2023_csv = Path("Resources/2023-citibike-tripdata/9_September/202309-citibike-tripdata_1.csv") 
oct_2023_csv = Path("Resources/2023-citibike-tripdata/10_October/202310-citibike-tripdata_1.csv")
nov_2023_csv = Path("Resources/2023-citibike-tripdata/11_November/202311-citibike-tripdata_1.csv")
dec_2023_csv = Path("Resources/2023-citibike-tripdata/12_December/202312-citibike-tripdata_1.csv")

In [9]:
# Read in files and make dfs for 2014 data
jan_2014_df = pd.read_csv(jan_2014_csv)
feb_2014_df = pd.read_csv(feb_2014_csv)
mar_2014_df = pd.read_csv(mar_2014_csv)
apr_2014_df = pd.read_csv(apr_2014_csv)
may_2014_df = pd.read_csv(may_2014_csv)
jun_2014_df = pd.read_csv(jun_2014_csv)
jul_2014_df = pd.read_csv(jul_2014_csv)
aug_2014_df = pd.read_csv(aug_2014_csv)
sep_2014_df = pd.read_csv(sep_2014_csv)
oct_2014_df = pd.read_csv(oct_2014_csv)
nov_2014_df = pd.read_csv(nov_2014_csv)
dec_2014_df = pd.read_csv(dec_2014_csv)

# Read data for 2023 into DataFrames with specified data types for columns 5 and 7 as strings
jan_2023_df = pd.read_csv(jan_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
feb_2023_df = pd.read_csv(feb_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
mar_2023_df = pd.read_csv(mar_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
apr_2023_df = pd.read_csv(apr_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
may_2023_df = pd.read_csv(may_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
jun_2023_df = pd.read_csv(jun_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
jul_2023_df = pd.read_csv(jul_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
aug_2023_df = pd.read_csv(aug_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
sep_2023_df = pd.read_csv(sep_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
oct_2023_df = pd.read_csv(oct_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
nov_2023_df = pd.read_csv(nov_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)
dec_2023_df = pd.read_csv(dec_2023_csv, dtype={'start_station_name': 'str', 'end_station_name': 'str'}, low_memory=False)

In [10]:
# Merge the data for each year
merged_2014_df = pd.concat([jan_2014_df, feb_2014_df, mar_2014_df, apr_2014_df, may_2014_df, jun_2014_df, 
                            jul_2014_df, aug_2014_df, sep_2014_df, oct_2014_df, nov_2014_df, dec_2014_df])

merged_2023_df = pd.concat([jan_2023_df, feb_2023_df, mar_2023_df, apr_2023_df, may_2023_df, jun_2023_df, 
                            jul_2023_df, aug_2023_df, sep_2023_df, oct_2023_df, nov_2023_df, dec_2023_df])

In [11]:
#display
display(merged_2014_df)
display(merged_2023_df)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399064,553,12/31/2014 23:55:22,1/1/2015 00:04:35,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,16908,Subscriber,1982.0,1
399065,1355,12/31/2014 23:56:37,1/1/2015 00:19:12,325,E 19 St & 3 Ave,40.736245,-73.984738,327,Vesey Pl & River Terrace,40.715338,-74.016584,20964,Subscriber,1971.0,1
399066,431,12/31/2014 23:57:03,1/1/2015 00:04:14,536,1 Ave & E 30 St,40.741444,-73.975361,491,E 24 St & Park Ave S,40.740964,-73.986022,20845,Subscriber,1963.0,1
399067,332,12/31/2014 23:57:25,1/1/2015 00:02:57,293,Lafayette St & E 8 St,40.730287,-73.990765,317,E 6 St & Avenue B,40.724537,-73.981854,15374,Subscriber,1984.0,1
399068,2048,12/31/2014 23:58:16,1/1/2015 00:32:24,440,E 45 St & 3 Ave,40.752554,-73.972826,264,Maiden Ln & Pearl St,40.707065,-74.007319,20831,Subscriber,1984.0,1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,22B2A7F47AB12DA6,classic_bike,2023-12-21 18:06:35,2023-12-21 18:17:05,Queens Plaza North & Crescent St,6429.01,3 Ave & E 62 St,6762.04,40.750998,-73.940613,40.763126,-73.965269,member
999996,D8A50647290E00DA,classic_bike,2023-12-14 06:42:13,2023-12-14 06:55:47,W 82 St & Central Park West,7304.08,W 52 St & 6 Ave,6740.01,40.782750,-73.971370,40.761330,-73.979820,member
999997,1E665076851B948B,classic_bike,2023-12-06 08:54:36,2023-12-06 09:16:21,8 Ave & W 33 St,6450.12,3 Ave & E 62 St,6762.04,40.751955,-73.993460,40.763126,-73.965269,casual
999998,EA37E49DF5C3B39F,classic_bike,2023-12-22 13:48:37,2023-12-22 13:50:31,9 St & 44 Rd,6361.03,11 St & 44 Rd,6319.04,40.749660,-73.952100,40.749207,-73.949373,member
999999,7F754A29CDAE965C,classic_bike,2023-12-22 15:35:04,2023-12-22 16:01:20,Thompson St & Bleecker St,5721.07,Henry St & Middagh St,4861.05,40.728401,-73.999688,40.700300,-73.991581,member

In [ ]:
# make column name variables constant throughout dfs
merged_2014_df.rename(columns)